*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}
html,
body{
    height: 100%;
    width: 100%;
    
 
}

#header{
    position: absolute;
    justify-content: space-between;
    
}

section {
    padding: 50px 20px;
    text-align: center;
}

.head{
    position: absolute;
    justify-content:center;
    height: 110px;
    width: 1510px;
    background-color: black;
    align-items: center;
    display: flex;
}
.head h1{
    position: absolute;

    font-family:'Pasifico',cursive ;
    
    /* font-family: 'Courier New', Courier, monospace; */
    left: 45%;
    top: 10px;

    color: white;
    text-shadow: 0 0 5px aqua,0 0 10px aqua, 0 0 20px aqua;
}

.h4{
    position: absolute;

    display: flex;
    left: 42%;
    gap: 30px;
    top: 65px;
}

.head h4{
   
   
    color: white;
    left: 35%;
    top:45%;
    padding: 2%;
    margin: 1%;
    align-items: center;

}

h4:hover{
    color: brown;
    cursor: pointer;
}

#h1{
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 43%;
    top: 20%;
}

/* nishu box */

.nishu{
    position: absolute;


    background-color:#222;
    padding: 30px;
    top:30%;
    height: 40%;
    /* width: 100%; */
     width: 1200px;
     cursor: pointer;
     border-radius: 10px;
     left:160px;
}

.nishu h1{
    position: absolute;
    text-align: center;
    top: 190px;
    left: 42%;
    color: white;
    text-shadow: 0 0 5px;
}

.nishu h5{
    position: absolute;
    top:230px ;
    left:46% ;
    color: white;
}

.nishu p{
    position: absolute;
    top: 260px;
    left: 30%;
    color: white;
}

#nishu-img:hover{
    box-shadow: 0 0 20px aqua,0 0 40px aqua,0 0 60px aqua;
    border: 2px solid black;
}

#nishu-img{
    align-items: center;
    justify-content: center;
    left: 45%;
    top: 60px;
    border-radius: 60px;

    position: absolute;
    background-color: aqua;
    width: 120px;
    height: 120px;
    /* background-image:url(prince.jpeg); */
    background-size: cover;
    cursor: pointer;
}

.nishu:hover{

    transform: translateY(-10px);

    box-shadow: 0 0 20px #03f8f6, 0 0 40px #03f8f6, 0 0 60px #03f8f6;
    border: 3px solid #03f8;
}


/* team memeber */

.four{



    position: absolute;
    /* background-color: blue; */
    top: 80%;
    height: 780px;
     width: 800px;
     left: 23%;
}
/* raj sharma box */
.four .raj{

    position: absolute;
    background-color:#222;
    height: 300px;
    width: 300px;
    left: 2.4%;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}

.four .raj:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #fc0303, 0 0 40px #fc0303, 0 0 60px #fc0303;
    border: 3px solid #fc0303;
}

.raj h1{
    position: absolute;
    top: 62%;
    left: 21%;
    color: white;
    text-shadow: 0 0 5px;
}

.raj h5{
    position: absolute;
    top:77% ;
    left: 30%;
    color: white;
}

.raj p{
    position: absolute;
    top: 84%;
    text-align: center;
    color: white;
    
}

/* rama kishori box */

.four .rama{
    position: absolute;
    background-color:#222;
    height: 300px;
    width: 300px;
    left: 20%;
    margin-left: 40%;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}

.four .rama:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #0000, 0 0 40px #000, 0 0 60px #000;
    border: 3px solid #000;
}

.rama h1{
    position: absolute;
    top: 62%;
    left: 16%;
    color: white;
    text-shadow: 0 0 5px;
}

.rama h5{
    position: absolute;
    top: 77%;
    left: 30%;
    color: white;
}

.rama p{
    position: absolute;
    top: 83%;
    text-align: center;
    color: white;
}

/* prince box */

.four .prince{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color:#222;
    top: 50%;
    left: 2.4%;
    border-radius: 10px;
    cursor: pointer;
}

.four .prince:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #fc03f4, 0 0 40px #fc03f4, 0 0 60px #fc03f4;
    border: 3px solid #fc03f4;
}

.prince h1{
    position: absolute;
    top: 62%;
    left: 17%;
    color: white;
    text-shadow: 0 0 5px;
}

.prince h5{
    position: absolute;
    top: 76%;
    left: 34%;
    color: white;
}

.prince p{
    position: absolute;
    top: 85%;
    /* left: 5%; */
    text-align: center;
    color: white;
    
}

/* priyanshu box */
.four .priyanshu{
    position: absolute;
    background-color:#222;
    height: 300px;
    width: 300px;
    margin-left: 60%;
    top: 50%;
    border-radius: 10px;
    cursor: pointer;
   
    /* box-shadow: 0 0 50px pink ; */
}

.four .priyanshu:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #fcf803, 0 0 40px #fcf803, 0 0 60px #fcf803;
    border: 3px solid #fcf803;
}

.priyanshu h1{

    position: absolute;
    top: 62%;
    left: 15%;
    color: white;
    text-shadow: 0 0 5px;


}

.priyanshu h5{
    position: absolute;
    top: 77%;
    left: 30%;
    color: white;
}

.priyanshu p{
    position: absolute;
    top: 84%;
    text-align: center;
    color: white;
    
}

/* image section of team members */



/* 
image prince */
#prince-img{
    align-items: center;
    justify-content: center;
    left: 85px;
    top: 60px;
    border-radius: 60px;

    position: absolute;
    background-color: aqua;
    width: 120px;
    height: 120px;
    background-image:url(prince1.jpeg);
    background-size: cover;
    cursor: pointer;
}

#prince-img:hover{
    box-shadow: 0 0 20px aqua,0 0 40px aqua,0 0 60px aqua;
    border: 2px solid black;
}

/* raj image */

#raj-img{
    align-items: center;
    justify-content: center;
    left: 85px;
    top: 60px;
    border-radius: 60px;

    position: absolute;
    background-color: aqua;
    width: 120px;
    height: 120px;
    background-image:url(raj.jpeg);
    background-size: cover;
cursor: pointer;
}

#raj-img:hover{
    box-shadow: 0 0 20px aqua,0 0 40px aqua,0 0 60px aqua;
    border: 2px solid black;
}



    /* rama kishori image */

    #rama-img{
    align-items: center;
    justify-content: center;
    left: 85px;
    top: 60px;
    border-radius: 60px;

    position: absolute;
    background-color: aqua;
    width: 120px;
    height: 120px;
    background-image:url(prince.jpeg);
    background-size: cover;
    }

 #rama-img:hover{
    box-shadow: 0 0 20px aqua,0 0 40px aqua,0 0 60px aqua;
    border: 2px solid black;
}
    /* priyanshu image */

    #priyanshu-img{
    align-items: center;
    justify-content: center;
    left: 85px;
    top: 60px;
    border-radius: 60px;

    position: absolute;
    background-color: aqua;
    width: 120px;
    height: 120px;
    background-image:url(prince.jpeg);
    background-size: cover;
    }

#priyanshu-img:hover{
    box-shadow: 0 0 20px aqua,0 0 40px aqua,0 0 60px aqua;
    border: 2px solid black;
}

#prince{

    position: absolute;
    top: 190%;
    background-color: black;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    
   
    
}

#prince p{
  position: absolute;
  text-align: center;
  left: 40%;
  top: 15px;
  
}